In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../Datasets/Banknifty/banknifty_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5569 entries, 0 to 5568
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5569 non-null   int64
 1   time        5569 non-null   object
 2   open        5569 non-null   float64
 3   high        5569 non-null   float64
 4   low         5569 non-null   float64
 5   close       5569 non-null   float64
 6   weekday     5569 non-null   int64
 7   range_HL    5569 non-null   float64
 8   range_OC    5569 non-null   float64
 9   type        5569 non-null   object
dtypes: float64(6), int64(2), object(2)
memory usage: 435.2+ KB

In [4]:
df["type"].unique()

array(['Tie', 'bear', 'bull'], dtype=object)

In [11]:
df[df["type"] == "Tie"]

,Unnamed: 0,time,open,high,low,close,weekday,range_HL,range_OC,type
0,0,2000-01-03 09:15:00+05:30,1054.8101,1054.8101,1054.8101,1054.8101,0,0.0,0.0,Tie
1,1,2000-01-04 09:15:00+05:30,1092.0800,1092.0800,1092.0800,1092.0800,1,0.0,0.0,Tie
2,2,2000-01-05 09:15:00+05:30,1055.9900,1055.9900,1055.9900,1055.9900,2,0.0,0.0,Tie
3,3,2000-01-06 09:15:00+05:30,1086.6700,1086.6700,1086.6700,1086.6700,3,0.0,0.0,Tie
4,4,2000-01-07 09:15:00+05:30,1126.9900,1126.9900,1126.9900,1126.9900,4,0.0,0.0,Tie
...,...,...,...,...,...,...,...,...,...,...
1731,1731,2006-12-06 09:15:00+05:30,6213.8501,6213.8501,6213.8501,6213.8501,2,0.0,0.0,Tie
1732,1732,2006-12-07 09:15:00+05:30,6259.5000,6259.5000,6259.5000,6259.5000,3,0.0,0.0,Tie
1809,1809,2007-04-03 09:15:00+05:30,4995.1499,4995.1499,4995.1499,4995.1499,1,0.0,0.0,Tie
2085,2085,2008-05-12 09:15:00+05:30,7330.5498,7330.5498,7330.5498,7330.5498,0,0.0,0.0,Tie
2319,2319,2009-04-30 09:15:00+05:30,5130.9502,5130.9502,5130.9502,5130.9502,3,0.0,0.0,Tie

In [17]:
df.drop(df[df["type"] == "Tie"].index)

,Unnamed: 0,time,open,high,low,close,weekday,range_HL,range_OC,type
1361,1361,2005-06-09 09:15:00+05:30,3659.8000,3664.4500,3609.7500,3636.5000,3,54.7000,23.3000,bear
1362,1362,2005-06-10 09:15:00+05:30,3640.0500,3665.8000,3585.8000,3593.5500,4,80.0000,46.5000,bear
1363,1363,2005-06-13 09:15:00+05:30,3593.8999,3648.3999,3556.7000,3642.8999,0,91.6999,49.0000,bull
1364,1364,2005-06-14 09:15:00+05:30,3649.0500,3696.3501,3637.7000,3689.8000,1,58.6501,40.7500,bull
1365,1365,2005-06-15 09:15:00+05:30,3700.8000,3703.7500,3662.8501,3683.8501,2,40.8999,16.9499,bear
...,...,...,...,...,...,...,...,...,...,...
5564,5564,2022-06-13 09:15:00+05:30,33728.6480,33774.0510,33210.3520,33405.8520,0,563.6990,322.7960,bear
5565,5565,2022-06-14 09:15:00+05:30,33180.6020,33618.1480,33123.8980,33311.3520,1,494.2500,130.7500,bull
5566,5566,2022-06-15 09:15:00+05:30,33317.8010,33554.5510,33249.5510,33339.0000,2,305.0000,21.1990,bull
5567,5567,2022-06-16 09:15:00+05:30,33648.8010,33756.5000,32537.9490,32617.1000,3,1218.5510,1031.7010,bear
5568,5568,2022-06-17 09:15:00+05:30,32393.4490,32889.8010,32290.5510,32743.0510,4,599.2500,349.6020,bull

In [18]:
len(df)

5569

In [20]:
dic = {}
for i in df["type"].unique():
    dic[i] = df[df["type"] == i]["type"].count()
print(dic)

{'Tie': 1367, 'bear': 2179, 'bull': 2023}

In [39]:
df.tail(10)

,Unnamed: 0,time,open,high,low,close,weekday,range_HL,range_OC,type
5559,5559,2022-06-06 09:15:00+05:30,35159.148,35424.500,35072.301,35310.199,0,352.199,151.051,bull
5560,5560,2022-06-07 09:15:00+05:30,35080.801,35154.301,34834.398,34996.000,1,319.903,84.801,bear
5561,5561,2022-06-08 09:15:00+05:30,35165.648,35449.898,34831.750,34946.148,2,618.148,219.500,bear
5562,5562,2022-06-09 09:15:00+05:30,34802.250,35149.102,34659.102,35085.449,3,490.000,283.199,bull
5563,5563,2022-06-10 09:15:00+05:30,34686.949,34752.449,34346.648,34483.801,4,405.801,203.148,bear
5564,5564,2022-06-13 09:15:00+05:30,33728.648,33774.051,33210.352,33405.852,0,563.699,322.796,bear
5565,5565,2022-06-14 09:15:00+05:30,33180.602,33618.148,33123.898,33311.352,1,494.250,130.750,bull
5566,5566,2022-06-15 09:15:00+05:30,33317.801,33554.551,33249.551,33339.000,2,305.000,21.199,bull
5567,5567,2022-06-16 09:15:00+05:30,33648.801,33756.500,32537.949,32617.100,3,1218.551,1031.701,bear
5568,5568,2022-06-17 09:15:00+05:30,32393.449,32889.801,32290.551,32743.051,4,599.250,349.602,bull

In [41]:

for i in df["type"].unique():
    print(i)
    dic = {}
    for j in range(5):
        dic[j] = ((df.loc[(df["type"] == i)&(df["weekday"] == j)]["weekday"].count()) / df.loc[(df["weekday"] == j)]["weekday"].count()).round(2)
    print(dic)

Tie
{0: 0.25, 1: 0.25, 2: 0.24, 3: 0.25, 4: 0.24}
bear
{0: 0.38, 1: 0.4, 2: 0.4, 3: 0.39, 4: 0.38}
bull
{0: 0.37, 1: 0.35, 2: 0.35, 3: 0.36, 4: 0.38}

In [42]:
df.columns

Index(['Unnamed: 0', 'time', 'open', 'high', 'low', 'close', 'weekday',
       'range_HL', 'range_OC', 'type'],
      dtype='object')

In [43]:
df.iloc[2000]

Unnamed: 0                         2000
time          2008-01-04 09:15:00+05:30
open                           10288.05
high                           10326.25
low                             10120.9
close                           10233.2
weekday                               4
range_HL                         205.35
range_OC                          54.85
type                               bear
Name: 2000, dtype: object