In [1]:
import pandas as pd
import numpy as np

In [2]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
# And lets index these staff by name
staff_df = staff_df.set_index('Name')
# Now we'll create a student dataframe
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
# And we'll index this by name too

In [3]:
student_df = student_df.set_index("Name")

In [4]:
staff_df.head()

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [5]:
student_df.head()

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [11]:
pd.merge(staff_df,student_df,how='outer', right_index=True, left_index=True).fillna('Not Applicable')

                 Role          School
Name
James          Grader        Business
Kelly  Director of HR  Not Applicable
Mike   Not Applicable             Law
Sally  Course liasion     Engineering

In [12]:
pd.merge(staff_df,student_df,how='inner', right_index=True, left_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [14]:
pd.merge(staff_df,student_df,how='inner',right_index=True, left_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business