In [92]:
print("hello")

hello

In [93]:
print("shyam commited")

shyam commited

In [94]:
import numpy as np
import pandas as pd

In [95]:
df = pd.read_csv("../movies/movies.csv")

In [96]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\r\nAction, Horror, Thriller",6.1,\r\nA woman with a mysterious illness is force...,\r\n Director:\r\nPeter Thorwarth\r\n| \r\n...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\r\nAnimation, Action, Adventure",5.0,\r\nThe war for Eternia begins again in what m...,"\r\n \r\n Stars:\r\nChris Wood, ...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\r\nDrama, Horror, Thriller",8.2,\r\nSheriff Deputy Rick Grimes wakes up from a...,\r\n \r\n Stars:\r\nAndrew Linco...,"885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\r\nAnimation, Adventure, Comedy",9.2,\r\nAn animated series that follows the exploi...,\r\n \r\n Stars:\r\nJustin Roila...,"414,849",23.0,NaN
4,Army of Thieves,(2021),"\r\nAction, Crime, Horror",NaN,"\r\nA prequel, set before the events of Army o...",\r\n Director:\r\nMatthias Schweighöfer\r\n...,NaN,NaN,NaN

In [97]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [98]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [99]:
import math


radius = 1
center = (1,0.5)

# print(center)
print(type(center))

# Get the radius from the user

l = []

# Draw the circle using the polar circle algorithm
for i in range(180,360,45):
    angle = i * math.pi / 180
    x = center[0] + radius * math.cos(angle)
    y = center[1] + radius * math.sin(angle)
  

    l.extend([x, y, math.radians(-i)])
for i in range(0,180,45):
    angle = i * math.pi / 180
    x = center[0] + radius * math.cos(angle)
    y = center[1] + radius * math.sin(angle)
    

    l.extend([x, y, math.radians(-i)])
 
print(l)

<class 'tuple'>
[0.0, 0.5000000000000001, -3.141592653589793, 0.2928932188134523, -0.20710678118654746, -3.9269908169872414, 0.9999999999999998, -0.5, -4.71238898038469, 1.7071067811865475, -0.20710678118654768, -5.497787143782138, 2.0, 0.5, 0.0, 1.7071067811865475, 1.2071067811865475, -0.7853981633974483, 1.0, 1.5, -1.5707963267948966, 0.29289321881345254, 1.2071067811865475, -2.356194490192345]

In [100]:
import math
from graphics import *
import time

# Set up the window and center point
win = GraphWin("Polar Circle Algorithm", 400, 400)
center = Point(200, 200)

# Get the radius from the user
radius = int(input("Enter the radius of the circle: "))

# Draw the circle using the polar circle algorithm
for i in range(180,360,45):
    angle = i * math.pi / 180
    x = center.getX() + radius * math.cos(angle)
    y = center.getY() + radius * math.sin(angle)
    circ = Circle(Point(x, y), 1)
    circ.draw(win)
    time.sleep(2)
for i in range(0,180,45):
    angle = i * math.pi / 180
    x = center.getX() + radius * math.cos(angle)
    y = center.getY() + radius * math.sin(angle)
    circ = Circle(Point(x, y), 1)
    circ.draw(win)
    time.sleep(2)
    

# Wait for the user to click the window to close it
win.getMouse()
win.close()

:

:

In [ ]:
for i in range(0, 5):
    print(-i)

0
-1
-2
-3
-4

# Learning the regular expression

In [ ]:
import re

In [ ]:
pattern = r"\w+@\w+\.\w+"
text = "my email address is golishyamgolisai@gmail.com"
match = re.search(pattern,text)
print(match.group())

golishyamgolisai@gmail.com

In [ ]:
with open("../RegularExpText.txt","r") as f:
    text = f.read()
print(text)

Please email us at contact@company.com or support@company.com for any inquiries.
Our employees can be reached at firstname.lastname@company.com or initialsurname@company.com.
Don't forget to check your spam folder for emails from newsletter@company.com.

In [ ]:
pattern = "\w+@\w+\.\w+"
match = re.findall(pattern,text)
print(match)

['contact@company.com', 'support@company.com', 'lastname@company.com', 'initialsurname@company.com', 'newsletter@company.com']

In [ ]:
with open("../RegularExpText.txt","r") as f:
    text = f.read()
print(text)

Please email us at contact@company.com or support@company.com for any inquiries.
Our employees can be reached at firstname.lastname@company.com or initialsurname@company.com.
Don't forget to check your spam folder for emails from newsletter@company.com.

The quick brown fox jumps over the lazy dog.
It's a beautiful day today, isn't it?
The cat in the hat sat on the mat.
John has 3 apples, and Mary has 5 bananas.
The phone number for the store is (555) 123-4567.

In [ ]:
pattern = r"[a-z]+at|\w+@\w+\.\w+|\([0-9]{3}\) [0-9]{3}\-[0-9]{4}"
match = re.findall(pattern, text)
print(match)

['contact@company.com', 'support@company.com', 'lastname@company.com', 'initialsurname@company.com', 'newsletter@company.com', 'cat', 'hat', 'sat', 'mat', '(555) 123-4567']

In [ ]:
import re
with open("../RegularExpText.txt","r") as f:
    text = f.read()
print(text)

Please email us at contact@company.com or support@company.com for any inquiries.
Our employees can be reached at firstname.lastname@company.com or initialsurname@company.com.
Don't forget to check your spam folder for emails from newsletter@company.com.

The quick brown fox jumps over the lazy dog.
It's a beautiful day today, isn't it?
The cat in the hat sat on the mat.
John has 3 apples, and Mary has 5 bananas.
The phone number for the store is (555) 123-4567.

In [ ]:
pattern = r"(\w+)(@\w+\.\w+)"
for item in re.finditer(pattern,text):
    print(item.group())

contact@company.com
support@company.com
lastname@company.com
initialsurname@company.com
newsletter@company.com

In [ ]:
pattern = r"(?P<title>\w+)(?P<type>@\w+\.\w+)"
for item in re.finditer(pattern,text):
    print(item.groupdict())

{'title': 'contact', 'type': '@company.com'}
{'title': 'support', 'type': '@company.com'}
{'title': 'lastname', 'type': '@company.com'}
{'title': 'initialsurname', 'type': '@company.com'}
{'title': 'newsletter', 'type': '@company.com'}

In [ ]:
pattern = r"(?P<title>\w+)(?=@\w+\.\w+)"
for item in re.finditer(pattern,text):
    print(item.groupdict())

{'title': 'contact'}
{'title': 'support'}
{'title': 'lastname'}
{'title': 'initialsurname'}
{'title': 'newsletter'}

In [ ]:
pattern = r"(?P<title>\w+)(?=@\w+\.\w+)"
for item in re.finditer(pattern,text):
    print(item.group())

contact
support
lastname
initialsurname
newsletter

# Back to the pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../movies/movies.csv")

In [4]:
df.describe()

            RATING      RunTime
count  8179.000000  7041.000000
mean      6.921176    68.688539
std       1.220232    47.258056
min       1.100000     1.000000
25%       6.200000    36.000000
50%       7.100000    60.000000
75%       7.800000    95.000000
max       9.900000   853.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [5]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [6]:
df = df[df["Gross"].notna()]

In [7]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [8]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"\r\nAction, Comedy, Crime",6.9,\r\nThe world's top bodyguard gets a new clien...,\r\n Director:\r\nPatrick Hughes\r\n| \r\n ...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"\r\nAction, Adventure, Sci-Fi",8.1,\r\nA pragmatic paleontologist visiting an alm...,\r\n Director:\r\nSteven Spielberg\r\n| \r\...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"\r\nCrime, Horror, Thriller",7.1,\r\nHoping to walk away with a massive fortune...,\r\n Director:\r\nFede Alvarez\r\n| \r\n ...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\r\nAction, Adventure, Drama",8.8,\r\nA meek Hobbit from the Shire and eight com...,\r\n Director:\r\nPeter Jackson\r\n| \r\n ...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"\r\nAction, Adventure, Horror",6.4,\r\nSix strangers find themselves in a maze of...,\r\n Director:\r\nAdam Robitel\r\n| \r\n ...,"99,351",99.0,$57.01M

In [9]:
type(df.loc[77,"RATING"])

numpy.float64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460 entries, 77 to 6292
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    460 non-null    object
 1   YEAR      460 non-null    object
 2   GENRE     460 non-null    object
 3   RATING    460 non-null    float64
 4   ONE-LINE  460 non-null    object
 5   STARS     460 non-null    object
 6   VOTES     460 non-null    object
 7   RunTime   460 non-null    float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 52.1+ KB

In [12]:
df = df.sort_values("RATING",ascending=False)

In [22]:
df["Gross"][df["RATING"]>8.5]

193     $377.85M
111     $315.54M
260     $342.55M
3242      $0.02M
237      $10.06M
Name: Gross, dtype: object

In [23]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
193,The Lord of the Rings: The Return of the King,(2003),"\r\nAction, Adventure, Drama",8.9,\r\nGandalf and Aragorn lead the World of Men ...,\r\n Director:\r\nPeter Jackson\r\n| \r\n ...,"1,691,777",201.0,$377.85M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\r\nAction, Adventure, Drama",8.8,\r\nA meek Hobbit from the Shire and eight com...,\r\n Director:\r\nPeter Jackson\r\n| \r\n ...,"1,713,028",178.0,$315.54M
260,The Lord of the Rings: The Two Towers,(2002),"\r\nAction, Adventure, Drama",8.7,\r\nWhile Frodo and Sam edge closer to Mordor ...,\r\n Director:\r\nPeter Jackson\r\n| \r\n ...,"1,529,752",179.0,$342.55M
3242,Be Here Now,(2015),"\r\nDocumentary, Biography, Drama",8.6,"\r\nAs though life is imitating art, actor and...",\r\n Director:\r\nLilibet Foster\r\n| \r\n ...,"3,288",100.0,$0.02M
237,Sen to Chihiro no kamikakushi,(2001),"\r\nAnimation, Adventure, Family",8.6,"\r\nDuring her family's move to the suburbs, a...",\r\n Director:\r\nHayao Miyazaki\r\n| \r\n ...,"682,809",125.0,$10.06M

In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [2]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [3]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [4]:
obj3

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [5]:
x = obj2['California']
obj2['California'] != x

True

In [6]:
obj2['California'] == None

False